// All intro block styles
.block.intro {
	background: #404a59;

	.logo {
		margin-top: 2em;

		img {
			width: 100%;
		}
	}

	h1 {
		margin-bottom: 0px;
		text-align: left;
	}

	p {
		color: #fff;
		margin-top: 0.5em;
		font-size: 1.4em;
	}
}
